* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Ubuntu Nerd Font";
  font-size: 9.5pt;
  font-weight: bold; 
  margin: 8px;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}


/* Reset all styles */
* {
    border: none;
    border-radius: 1px;
    min-height: 5px;
    margin: 0.2em 0.275em 0.2em 0.275em;
}

/* The whole bar */
#waybar {
    /*background: @bg;*/
    background-color: transparent;
    /*color: @light;*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    /*border-top: 8px transparent;*/
    border-radius: 15px;
    margin: 5px 4px;
  
}

window#waybar.hidden {
  opacity: 0.2;
}



#workspaces button {
  padding: 0 0px;
  color: #D3C6AA;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
}

#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: #D3C6AA;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #D3C6AA;
}

/* Each module */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-screenshot_t,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-rofi,
#custom-power,
#custom-spotify,
#custom-spotifyskip,
#custom-spotifyprev,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#hyprland-wlr,
#custom-weather.cloudyFoggyDay,
#custom-storage,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0px 15px;
  color: #e5e5e5;
  /* color: #bf616a; */
  border-radius: 15px;
  background-color: #1e1e1e;
}

#window,
#workspaces {
  border-radius: 15px;
  padding: 0px 10px;
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#hyprland-wlr {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}


#custom-screenshot_t {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#wireplumber {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-spotify {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-spotifyskip {
  color: #D3C6AA;
  background-color: #2D353B;
  padding: 10 10px;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-power {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-spotifyprev {
  color: #D3C6AA;
  background-color: #2D353B;
  padding: 8 8px;
  margin: 2 2px;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-rofi {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-storage {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#cpu {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#memory {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}


#custom-launcher {
  background-color: #1b242b;
  color: #6a92d7;
  border-radius: 15px;
  padding: 0 0px;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #7d9bba;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#backlight {
  /* color: #EBCB8B; */
  color: #8fbcbb;
}

#clock {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#battery {
  color: #c0caf5;
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #D3C6AA;
  background-color: #2D353B;
  border: 4px solid #A7C080;
}

#temperature.critical {
  color: #D3C6AA;
  background-color: #2D353B
}

#tray {
  background-color: #2D353B;
  border: 4px solid #A7C080;
  box-shadow: 1px 1px 3px 1px rgba(21, 21, 21, 0.4);
  margin: 10px;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 0px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

